.leftMenu {
	position: absolute;
	visibility: visible;
	width: 100px;
	left: 5px;
	top: 160px;
	text-align: center;
	background-image: none;
	border: 2px solid #999999;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	height: 70%;
	text-decoration: none;
}

.mainContent {
	position: absolute;
	visibility: visible;
	top: 160px;
	background-image: url(../images/BackgroundImage1.gif);
	width: auto;
	left: 125px;
	color: #FFFFFF;
	right:5px;
	min-height:70%;
}

.mainBackground {
	background-color: #000000;
}

.siteTitle {
	position: absolute;
	visibility: visible;
	width: 100%;
	left: 5px;
	top: 5px;
	height: 150px;
	font-size: x-large;
	text-align: center;
	vertical-align: middle;
	background-image: url(../images/titleGraphicA1.gif);
	background-repeat: no-repeat;
	background-position: left;
	z-index: 10;
}

.tdBackground {
	background-image: url(../images/buttonShader.gif);
	background-repeat: repeat-x;
	background-color: #c4bba6;


}

.siteTitleRight {
	position: absolute;
	visibility: visible;
	height: 150px;
	width: 102%;
	top: 5px;
	right: 5px;
	background-image: url(../images/titleGraphicA2.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	z-index: 9;
}

.titleLineExtender {
	background-image: url(../images/lineExtender.gif);
	background-repeat: repeat-x;
	position: absolute;
	visibility: visible;
	height: 14px;
	width: 50%;
	top: 139px;
	right: 5px;
	z-index: 11;

}

h1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	border-bottom-style: outset;
	border-bottom-color: #333333;
	color: #CCCCCC;
	text-decoration: none;
}

a {
	color: #FBF9B3;
}

p, .defaultText {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: justify;
}

td h4 {

	color: #FFFFFF;
}

td input{ 
	font-size:large;
	background-image: url(../images/buttonShader.gif);
	cursor:pointer;
}

td input:hover{ 
	font-size:large;
	background-image: url(../images/buttonShader.gif);
	cursor:pointer;
	color: #FBF9B3;
}

.leftMenuText {
	color: #000000;
	text-decoration: none;
}


a:hover {
	color: #FBF9B3;
	text-decoration: none;
}

.divider1{
height:1px; background-color:#fcf7e9;
}

.divider2{
height:1px; background-color:#51606e;
}

.bookCost{
	text-align:right;
	color: #c4bba6; 
	font-size:x-large;
}

.bookContainer{
vertical-align:top; 
background-color:#010101;
}

.bookThumbLayout{
width:400px; float:left; border-collapse:collapse; margin:0px 10px 0px 0px;
}

.bookIconContainer{
width:100px; text-align:center;
}

.bookThumb{
max-width:100px; max-height:100px;
}

.bookThumbTitleContainer{
vertical-align:top; font-family: Geneva, Arial, Helvetica, sans-serif; color: #fcf7e9; font-size:18px; font-weight:bold;
}

.bookThumbTitleLeftBoder{
border-right:1px solid #fcf7e9; display:inline-block; height:40px; width:30px; position:absolute;
}

.bookThumbTitleBottomBorder{
margin:0px 20px 0px 20px;
}

.bookThumbTitle{
position:relative; left:32px;
}

.bookThumbBottomBorder{
width:200px;
}
